<div class="blog-post">
  <% flash_cards.each do |card| %>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="thumbnail">
        <div class="box-top">
          <% color = "#%06X" % rand(0..0xFFFFFF) %>
          <%= image_tag "blank.png", style: "background: #{color} center" %>
          <div class="word">
            <%= card.word %>
          </div>
          <div class="mask">
            <%= link_to 'View', flash_card_path(card, lang: params[:lang]) %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
