<div class="row">
  <div class="container">
    <div class="box-title">
      <h2>
        <a><%= @flash_cards.length %> flash cards</a>
      </h2>
    </div>
  </div>
  <%= render partial: 'flash_cards', locals: {flash_cards: @flash_cards} %>
</div>
